#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --with installsysusers

override_dh_auto_configure:
	dh_auto_configure -- --with-config-base-dir=/usr/share/hexagon-dsp

override_dh_strip:
	# strip is unable to operate on these files that target the DSP, not
	# the host
	dh_strip -Xusr/share/fastrpc_test/

override_dh_installsysusers:
	dh_installsysusers --name=fastrpc
